@use '../../abstract' as *;
.blog-meta{
  flex-wrap: wrap;
  display: flex;
  column-gap: 18px;
  row-gap: 10px;
  @media (min-width:576px){
    gap: 0px;
  }
  >*{
    @include column-gap(8px);
    align-items: center;
    color: $black-2;
    span{
      @include body-16;
    }
    &+*{
      &::before{
       
        width: 6px;
        height: 6px;
        background:$black-2;
        border-radius: 500px;
        margin-left: 12px;
        @media (min-width:576px){
          content: "";
        }
      }
    }
  }
}

.blog-details-content{
  blockquote{
    @include body-28;
    @include column-gap(24px);
    margin-top: 28px;
    margin-bottom: 48px;
    &::before{
      content: url(../image/icons/icon-quote.svg);
    }
  }
  &__footer{
    padding-top: 28px;
    .tags{
      @include column-gap(8px);
    }
  }
}
