@use "../../abstract" as *;
/* ========== Team Section Style ============= */

.team-details{
  &-main-section{
    .contact-form{
      h3{
        @include heading-26;
        text-transform: uppercase;
        margin-bottom: 32px;
      }
    }
    .team-member{
      &-info{
        p{
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      &__position{
        @include body-16;
        color: $black-2;
        text-transform: uppercase;
        margin-bottom: 12px;
      }
      &__name{
        @include heading-44;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      &-contact-widgets{
        padding-top: 60px;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
       column-gap: 60px;
       @media (min-width:768px){
        column-gap: 108px;
       }
      }
    }
  }
  &-image{
    @media (min-width:992px){
    padding-right: 35px;
    }
    img{
      width: 100%;
    }
  }
}
