@use '../../abstract' as *;
/* ========== Component : Contact Widget   ============= */
.contact-widget{
    &__title{
        @include body-18(500);
    }
    &__text{
        @include body-18(400);
    }
}



/* ========== Component : Contact Widget 02 used in Contact Inner Page  ============= */
.contact-widget-02{
    display: flex;
    column-gap: 8px;
    &__icon{
        width: 22px;
        height: 22px;
        position: relative;
        top: 5px;
    }
    &__text{
        @include body-18;
    }
}