@use "../../abstract" as *;
/* ========== Home 1: Cta Section Style ============= */

.cta{
    &-section{
        .cta-content{
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            align-items: center;
            text-align: center;
            &__title{
                text-transform: uppercase;
            }
        }
    }
}
  

   