@use "../abstract/" as *;
/* ========== Components: ISotope Style ============= */
.portfolio-v2 {
    margin-left: -12px;
    margin-right: -12px;
}
/* ========== Grid Item ============= */

.masonry-grid{
    .grid-item {
        width: 100%;
        padding: 12px;
    
        @media (min-width: 576px) {
            width: 50%;
        }
    
        @media (min-width: 992px) {
            width: 25%;
        }
    
        &--width2 {
            width: 100%;
    
            @media (min-width: 576px) {
                width: 50%;
            }
    
            @media (min-width: 992px) {
                height: 100%;
            }
        }
    }
}