//****** Variable Import ***********//
// Customize Theme Colors here 
$primary-hex: #C6F906;
$wild-sand-hex: #F5F5F5;
$dusty-gray-hex: #959595;
$white-hex:#FFFFFF;
$black-2-hex:#050505;
$black-solid-hex:#000000;
$scorpion-hex:#5B5B5B;
$silver-hex:#A8A8A8;
$black: #000;
$white: #fff;

// Optional
$primary: var(--bs-primary);
$primary-rgb: var(--bs-primary-rgb);
$wild-sand: var(--wild-sand);
$wild-sand-rgb: var(--wild-sand-rgb);
$dusty-gray: var(--dusty-gray);
$dusty-gray-rgb: var(--dusty-gray-rgb);
$white: var(--white);
$white-rgb: var(--white-rgb);
$black-2: var(--black-2);
$black-2-rgb: var(--black-2-rgb);
$black-solid: var(--black-solid);
$black-solid-rgb: var(--black-solid-rgb);
$scorpion: var(--scorpion);
$scorpion-rgb: var(--scorpion-rgb);
$silver: var(--silver);
$silver-rgb: var(--silver-rgb);