@use "../abstract" as *;

/* ========== Common: Spacing Combos  ============= */
.section-padding {
  @include section-padding();

  &.has-section-heading {
    @include section-padding-top(true);
  }
}

.section-padding-bottom {
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    padding-bottom: 134px;
  }
}

.section-padding-top {
  &:not(.has-section-heading) {
    @include section-padding-top();
  }

  &.has-section-heading {
    @include section-padding-top(true);
  }
}


.section-padding-95 {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.section-padding-100 {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.section-padding-130 {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width:676px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.section-padding-120 {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width:676px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-padding-top-120 {
  padding-top: 60px;

  @media (min-width:676px) {
    padding-top: 80px;
  }

  @media (min-width: 992px) {
    padding-top: 100px;
  }

  @media (min-width: 1200px) {
    padding-top: 120px;
  }
}

.section-padding-bottom-95 {
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media (min-width: 992px) {
    padding-bottom: 95px;
  }
}

.padding-top-60 {
  padding-top: 60px;
}


.padding-top-100 {
  padding-top: 60px;

  @media (min-width:576px) {
    padding-top: 80px;
  }

  @media (min-width:992px) {
    padding-top: 100px;
  }
}

.padding-bottom-100 {
  padding-bottom: 60px;

  @media (min-width:576px) {
    padding-bottom: 80px;
  }

  @media (min-width:992px) {
    padding-bottom: 100px;
  }
}
.padding-top-130 {
  padding-top: 60px;

  @media (min-width:576px) {
    padding-top: 80px;
  }

  @media (min-width:992px) {
    padding-top: 100px;
  }
  @media (min-width:1200px){
  padding-top: 130px;
  }
}

.padding-top-140 {
  padding-top: 60px;

  @media (min-width:576px) {
    padding-top: 80px;
  }

  @media (min-width:992px) {
    padding-top: 100px;
  }
  @media (min-width:1200px){
  padding-top: 140px;
  }
}
.padding-top-120 {
  padding-top: 60px;

  @media (min-width:576px) {
    padding-top: 80px;
  }

  @media (min-width:992px) {
    padding-top: 100px;
  }
  @media (min-width:1200px){
  padding-top: 130px;
  }
}

.padding-bottom-120 {
  padding-bottom: 60px;

  @media (min-width:576px) {
    padding-bottom: 80px;
  }

  @media (min-width:992px) {
    padding-bottom: 120px;
  }
}
.padding-bottom-130 {
  padding-bottom: 60px;

  @media (min-width:576px) {
    padding-bottom: 80px;
  }

  @media (min-width:992px) {
    padding-bottom: 100px;
  }
  @media (min-width:1200px){
  padding-bottom: 130px;
  }
}
.padding-bottom-140 {
  padding-bottom: 60px;

  @media (min-width:576px) {
    padding-bottom: 80px;
  }

  @media (min-width:992px) {
    padding-bottom: 100px;
  }
  @media (min-width:1200px){
  padding-bottom: 140px;
  }
}

.padding-bottom-150 {
  padding-bottom: 60px;

  @media (min-width:576px) {
    padding-bottom: 80px;
  }

  @media (min-width:992px) {
    padding-bottom: 120px;
  }
  @media (min-width:1200px) {
    padding-bottom: 150px;
  }
}


/* ----------------------------
Common: Spacing Utilities
-------------------------------*/
.mb-30 {
  margin-bottom: 24px;
  @media (min-width:992px){
    margin-bottom: 30px;
  }

}
.mt-20 {
  margin-top: 20px;
}
.mt-32 {
  margin-top: 32px;
  @media (min-width:992px){
    margin-top: 32px;
  }
}
.mb-32 {
  margin-bottom: 24px;
  @media (min-width:992px){
    margin-bottom: 32px;
  }
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 30px;
  @media (min-width:992px){
  margin-bottom: 44px;
  }
}
.mb-45 {
  margin-bottom: 30px;
  @media (min-width:992px){
  margin-bottom: 45px;
  }
}
.mb-50{
  margin-bottom: 30px;
  @media (min-width:992px){
  margin-bottom: 50px;
  }
}


.mb-res-48 {
  margin-bottom: 30px;
  @media (min-width:992px){
  margin-bottom: 44px;
  }
}
.mb-res-45 {
  margin-bottom: 30px;
  @media (min-width:992px){
  margin-bottom: 45px;
  }
}
.mb-res-50{
  margin-bottom: 30px;
  @media (min-width:992px){
  margin-bottom: 50px;
  }
}


.mb-70{
  margin-bottom: 40px;
  @media (min-width:576px){
  margin-bottom: 60px;
  }
  @media (min-width:1200px){
  margin-bottom: 70px;
  }
}

.mb-80{
  margin-bottom: 40px;
  @media (min-width:768px){
  margin-bottom: 60px;
  }
  @media (min-width:1200px){
  margin-bottom: 80px;
  }
}
.mb-90{
  margin-bottom: 40px;
  @media (min-width:768px){
  margin-bottom: 60px;
  }
  @media (min-width:1200px){
  margin-bottom: 90px;
  }
}

.mb-100{
  margin-bottom: 40px;
  @media (min-width:768px){
  margin-bottom: 60px;
  }
  @media (min-width:992px){
  margin-bottom: 80px;
  }
  @media (min-width:1400px){
  margin-bottom: 100px;
  }
}

.mb-130{
  margin-bottom: 60px;
  @media (min-width:576px){
  margin-bottom: 80px;
  }
  @media (min-width:992px){
  margin-bottom: 100px;
  }
  @media (min-width:1200px){
  margin-bottom: 130px;
  }
}

.mb-140{
  margin-bottom: 60px;
  @media (min-width:576px){
  margin-bottom: 80px;
  }
  @media (min-width:992px){
  margin-bottom: 100px;
  }
  @media (min-width:1200px){
  margin-bottom: 140px;
  }
}


.mb-res-60{
  margin-bottom: 40px;
  @media (min-width:992px){
  margin-bottom: 60px;
  }
}

.mb-res-70{
  margin-bottom: 40px;
  @media (min-width:576px){
  margin-bottom: 60px;
  }
  @media (min-width:1200px){
  margin-bottom: 70px;
  }
}

.mb-res-80{
  margin-bottom: 40px;
  @media (min-width:768px){
  margin-bottom: 60px;
  }
  @media (min-width:1200px){
  margin-bottom: 80px;
  }
}
.mb-res-90{
  margin-bottom: 40px;
  @media (min-width:768px){
  margin-bottom: 60px;
  }
  @media (min-width:1200px){
  margin-bottom: 90px;
  }
}

.mb-res-100{
  margin-bottom: 40px;
  @media (min-width:768px){
  margin-bottom: 60px;
  }
  @media (min-width:992px){
  margin-bottom: 80px;
  }
  @media (min-width:1400px){
  margin-bottom: 100px;
  }
}

.mb-res-130{
  margin-bottom: 60px;
  @media (min-width:576px){
  margin-bottom: 80px;
  }
  @media (min-width:992px){
  margin-bottom: 100px;
  }
  @media (min-width:1200px){
  margin-bottom: 130px;
  }
}

.mb-res-140{
  margin-bottom: 60px;
  @media (min-width:576px){
  margin-bottom: 80px;
  }
  @media (min-width:992px){
  margin-bottom: 100px;
  }
  @media (min-width:1200px){
  margin-bottom: 140px;
  }
}



.mt-24 {
  margin-top: 24px;
}

/* ----------------------------
Common: Responsive Spacer
-------------------------------*/
.spacer-top-80 {
  margin-top: 40px;

  @media (min-width:576px) {
    margin-top: 60px;
  }

  @media (min-width:1200px) {
    margin-top: 80px;
  }
}

.spacer-bottom-80 {
  margin-bottom: 40px;

  @media (min-width:576px) {
    margin-bottom: 60px;
  }

  @media (min-width:1200px) {
    margin-bottom: 80px;
  }
}

/* ----------------------------
Common: Spacing Gutters
-------------------------------*/
.gutter-y-20 {
  --bs-gutter-y: 20px;
}
.gutter-y-30 {
  --bs-gutter-y: 30px;
}

.gutter-y-40 {
  --bs-gutter-y: 40px;
}
.gutter-y-50 {
  --bs-gutter-y: 50px;
}

.gutter-y-default {
  --bs-gutter-y: 24px;
}
.gutter-x-40 {
  --bs-gutter-x: 40px;
}
.gutter-x-50 {
  --bs-gutter-x: 50px;
}

.gutter-x-60 {
  --bs-gutter-x: 60px;
}



.gutter-x-80 {
  @media (min-width:992px){
    --bs-gutter-x: 30px;
  }
  @media (min-width:1200px){
    --bs-gutter-x: 50px;
  }
 @media (min-width:1400px){
  --bs-gutter-x: 80px;
 }
}
.gutter-60 {
  --bs-gutter-y: 30px;
  @media (min-width:992px){
    --bs-gutter-x: 30px;
  }
  @media (min-width:1200px){
    --bs-gutter-x: 60px;
  }
}



/* ----------------------------
Common: Spacing Gap
-------------------------------*/

.gap-y-default{
 @include row-gap(24px);
}

.gap-y-40{
  @include row-gap(40px)
}

.row-gap-8{
  row-gap: 8px;
}